.image {
    width: 100%;
    height: 40vh;
}
img {
    width: 200px;
}
#number {
    border: 1px solid white;
    width: 100px;
    height: 30px;
}
#convert {
    border: 1px solid white;
    width: 100px;
    height: 30px;
}
.grid {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
   
}
.sleepTime {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25vh;
    width: 25vw;
    border: 1px solid white;
    background-color: aqua;
}
p {
    color: white;
    margin-top: 10px !important;
}