
.image {
    width: 100%;
    height: 80vh;
}
.tips {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
    margin-left: 430px !important;
    padding: 5px;
    text-align: center;
    font-size: 50px;
    border: 2px solid #0E6EFB;
    width: 40%;
    align-items: center;
}


.blog-1 {
    background-color: #0E6EFB;
}

p {
    color: #fff;
    margin: 20px;
    font-size: 18px;
}
button {
    margin: 20px !important;
    width: 100px;
    height: 40px;
    color: #F9C132;
    border: 2px solid #F9C132;
    border-radius: 5px !important;
    background: none;
    font-size: 18px;
}
#health {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      ". ."; 
    background-color: #0E6EFB;
}
h3 {
    color: #fff;
    margin: 20px;
    padding-top: 20px;
    padding-bottom: 5px;
    border-bottom: 2px solid #F9C132;
    border-width: 5px;
    width: 50%;
}
#video {  
    display: grid; 
    grid-auto-flow: column dense; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
    ". . ."
    ". . .";
    margin-left: 50px !important;
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    #video {
        display: grid; 
        grid-auto-flow: column dense; 
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr 1fr 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
        ". ."
        ". ."
        ". ."; 
    }
    .container-fluid {
        display: flex;
        align-items: center;
        margin-left: 200px !important;
    }
    .tips {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 50px;
        margin-left: 280px !important;
    }
    
}
   


/** For mobile devices **/
@media (max-width: 767px) {
    #video {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    .container-fluid {
        display: flex;
        align-items: center;
        margin-left: 120px !important;
    }
    .tips {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 50px;
        margin-left: 180px !important;
    }
}
  